<h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
{{!-- <td><input type="text" id="email" name="email" value={{user.email}} ></td> --}}
<a href="/api/sessions/logout">Logout</a>